Repository bounswe/bounswe2020group8, pull requests merged in 2020-12, with the labels that each got.

#199 Fix console errors and warnings
  web/carousel/src/components/Header/Categories/Categories.js
  web/carousel/src/components/Login/ForgotPassword.js
  web/carousel/src/components/Login/Login.js
  web/carousel/src/components/Login/LoginContainer/LoginForm/LoginForm.js
  web/carousel/src/components/Login/ResetPassword.js
  web/carousel/src/components/Login/SignupContainer/SignupContainer.js
  web/carousel/src/components/Login/SignupContainer/SignupForm/SignupForm.js
  web/carousel/src/components/Product/ProductTable.js
  web/carousel/src/screens/Forgot/index.js
  web/carousel/src/screens/Login/index.js
  web/carousel/src/screens/Reset/index.js
  web/carousel/src/screens/index.js
Labels: Priority: Low, web

#198 Backend feature/update models
  backend/controllers/authClient.js
  backend/controllers/customer.js
  backend/controllers/vendor.js
  backend/dataAccess/client.js
  backend/dataAccess/customer.js
  backend/dataAccess/vendor.js
  backend/models/client.js
  backend/models/customer.js
  backend/models/vendor.js
  backend/routers/client.js
  backend/routers/customer.js
  backend/routers/vendor.js
  backend/server.js
  backend/services/authClient.js
  backend/services/client.js
  backend/services/customer.js
  backend/services/vendor.js
  backend/swagger.json
  backend/util/constants.js
  backend/util/format.js
  backend/util/messages.js
  backend/util/requestHelper.js
Labels: backend, enhancement

#205 Add RUD functonality for models Customer and Vendor
  backend/controllers/customer.js
  backend/controllers/vendor.js
  backend/routers/client.js
  backend/routers/customer.js
  backend/routers/vendor.js
  backend/services/crudFactory.js
  backend/swagger.json
  backend/util/apiFeatures.js
  backend/util/baseUtil.js
  backend/util/messages.js
  backend/util/requestHelper.js
Labels: backend, documentation, enhancement

#213 Add protectRoute middleware for protected routes
  backend/controllers/authClient.js
  backend/routers/client.js
  backend/routers/customer.js
  backend/routers/vendor.js
  backend/server.js
  backend/util/messages.js
  backend/util/requestHelper.js
Labels: backend, enhancement

#203 Fixed changePassword - Added oldPassword check
  backend/controllers/authClient.js
  backend/routers/client.js
  backend/server.js
  backend/services/authClient.js
  backend/swagger.json
  backend/tests/unit/changePassword.spec.js
Labels: backend, bug

#219 Add github actions workflow for auto deployment
  .github/backend-deployment/backend-dev.yml
  .github/backend-deployment/dev-hosts
  .github/workflows/deploy-backend-dev.yaml
Labels: backend

#202 Added profile read-update-delete endpoints to support profile operations
  backend/controllers/customer.js
  backend/controllers/vendor.js
  backend/models/client.js
  backend/models/customer.js
  backend/routers/customer.js
  backend/routers/vendor.js
  backend/server.js
  backend/services/customer.js
  backend/services/vendor.js
  backend/swagger.json
  backend/util/format.js
Labels: backend, enhancement

#204 Added category model and necessary blank files.
  backend/controllers/category.js
  backend/models/category.js
  backend/routers/category.js
  backend/server.js
  backend/swagger.json
Labels: backend, enhancement

#221 Deployment/backend dev
  .github/workflows/deploy-backend-dev.yaml
Labels: backend, enhancement

#222 Backend feature/admin
  backend/controllers/admin.js
  backend/controllers/authClient.js
  backend/dataAccess/admin.js
  backend/dataAccess/adminToken.js
  backend/dataAccess/clientToken.js
  backend/models/admin.js
  backend/models/adminToken.js
  backend/routers/admin.js
  backend/routers/client.js
  backend/server.js
  backend/services/admin.js
  backend/services/authClient.js
Labels: backend, bug, enhancement

#217 Web feature/password form
  web/carousel/src/components/Login/SignupContainer/SignupForm/SignupForm.js
  web/carousel/src/components/PasswordForm/PasswordForm.js
  web/carousel/src/components/PasswordForm/PasswordForm.module.css
  web/carousel/src/components/SignUp/CustomerSignup.js
  web/carousel/src/components/SignUp/SignUp.js
  web/carousel/src/components/SignUp/VendorSignUp.js
Labels: enhancement, web

#226 Fix incorrect swagger documentation and fix data access functions
  .github/backend-deployment/backend-dev.yml
  .github/backend-deployment/dev-hosts
  .github/workflows/deploy-backend-dev.yaml
  backend/dataAccess/client.js
  backend/dataAccess/customer.js
  backend/dataAccess/vendor.js
  backend/routers/category.js
  backend/routers/client.js
  backend/services/customer.js
  backend/swagger.json
Labels: backend, bug

#228 Added isSuspended and isActive fields in return formatter
  backend/util/format.js
Labels: backend, bug

#229 Add initial values for isActive and isSuspended fields
  backend/models/client.js
Labels: bug

#225 Web feature/loginsignup update
  web/carousel/package-lock.json
  web/carousel/package.json
  web/carousel/src/assets/images/carousel_logo.jpg
  web/carousel/src/assets/images/search-icon.png
  web/carousel/src/components/Context/UserInfo.js
  web/carousel/src/components/GoogleAuth.js
  web/carousel/src/components/GoogleLoginButton.js
  web/carousel/src/components/GoogleLogoutButton.js
  web/carousel/src/components/Header/SideButtons/SideButtons.js
  web/carousel/src/components/Login/Login.module.css
  web/carousel/src/components/Login/LoginComponent.js
  web/carousel/src/components/Login/LoginContainer/LoginContainer.js
  web/carousel/src/components/Login/LoginContainer/LoginForm/LoginForm.js
  web/carousel/src/components/Login/SignupContainer/SignupContainer.js
  web/carousel/src/components/Login/SignupContainer/SignupForm/SignupForm.js
  web/carousel/src/components/Login/SignupContainer/SignupForm/SignupForm.module.css
  web/carousel/src/components/LogoutButton.js
  web/carousel/src/components/UI/InputUI/InputUI.js
  web/carousel/src/screens/Forgot/index.js
  web/carousel/src/screens/Home/index.js
  web/carousel/src/screens/Login/index.js
  web/carousel/src/screens/Reset/index.js
  web/carousel/src/screens/SignUp/index.js
  web/carousel/src/screens/index.js
Labels: enhancement, web

#233 Fix the port usage in config.js and use only port in the project
  .github/workflows/deploy-backend-dev.yaml
  backend/server.js
Labels: bug

#214 Web feature/homepage enhancement
  web/carousel/package-lock.json
  web/carousel/package.json
  web/carousel/src/.vscode/settings.json
  web/carousel/src/App.css
  web/carousel/src/assets/images/beauty_banner.png
  web/carousel/src/assets/images/fashion_banner.png
  web/carousel/src/assets/images/smartphones_banner.png
  web/carousel/src/components/Header/Header.module.css
  web/carousel/src/components/Product/ProductInSearch.js
  web/carousel/src/components/Product/ProductInSearch.module.css
  web/carousel/src/components/Product/ProductTable.js
  web/carousel/src/components/ProductList/ProductCarousel.js
  web/carousel/src/components/ProductList/ProductCarousel.module.css
  web/carousel/src/components/ProductList/ProductInSearch.js
  web/carousel/src/components/ProductList/ProductInSearch.module.css
  web/carousel/src/components/UI/FixedDiv/FixedDiv.js
  web/carousel/src/screens/Home/index.js
Labels: enhancement, web

#237 Fix 404 screens
  web/carousel/src/assets/images/sad-pepe.jpg
  web/carousel/src/screens/NotFound/index.js
Labels: Priority: Medium, bug, web

#243 Android api caller
  Android/app/build.gradle
  Android/app/src/main/java/com/example/carousel/DashboardActivity.kt
  Android/app/src/main/java/com/example/carousel/LoginActivity.kt
  Android/app/src/main/java/com/example/carousel/MemberAccountPageFragment.kt
  Android/app/src/main/java/com/example/carousel/application/ApplicationContext.kt
  Android/app/src/main/java/com/example/carousel/application/AuthenticatedUser.kt
  Android/app/src/main/java/com/example/carousel/map/APIClient.kt
  Android/app/src/main/java/com/example/carousel/map/ApiCaller.kt
  Android/app/src/main/java/com/example/carousel/map/ApiInterface.kt
  Android/app/src/main/java/com/example/carousel/map/HeaderInterceptor.kt
  Android/app/src/main/java/com/example/carousel/pojo/Response.kt
  Android/app/src/main/res/values/colors.xml
  Android/app/src/main/res/values/strings.xml
Labels: android, enhancement

#256 Add Github Actions workflow and Ansible playbook for web dev deployment
  .github/web-deployment/dev-hosts
  .github/web-deployment/web-dev.yml
  .github/workflows/deploy-web-dev.yaml
Labels: backend, web

#252 Web feature/profile
  .gitignore
  web/carousel/.vscode/settings.json
  web/carousel/package-lock.json
  web/carousel/package.json
  web/carousel/src/assets/images/paymentNetworks/master.png
  web/carousel/src/assets/images/paymentNetworks/visa.png
  web/carousel/src/components/Account/Address/Address.js
  web/carousel/src/components/Account/Address/Address.module.css
  web/carousel/src/components/Account/Address/AddressHeadbar.js
  web/carousel/src/components/Account/Address/AddressHeadbar.module.css
  web/carousel/src/components/Account/Address/AddressModal.js
  web/carousel/src/components/Account/PaymentInfo/PaymentInfo.js
  web/carousel/src/components/Account/PaymentInfo/PaymentInfo.module.css
  web/carousel/src/components/Account/PaymentInfo/PaymentInfoHeadbar.js
  web/carousel/src/components/Account/PaymentInfo/PaymentInfoHeadbar.module.css
  web/carousel/src/components/Account/PaymentInfo/PaymentModal.js
  web/carousel/src/components/Account/PaymentInfo/PaymentModal.module.css
  web/carousel/src/components/Context/UserInfo.js
  web/carousel/src/components/DropdownContainer/DropdownContainer.module.css
  web/carousel/src/components/Header/SideButtons/SideButtons.js
  web/carousel/src/components/Login/ForgotPassword.js
  web/carousel/src/components/Login/ForgotPassword.module.css
  web/carousel/src/components/Login/LoginComponent.js
  web/carousel/src/components/Login/ResetPassword.js
  web/carousel/src/components/Login/ResetPassword.module.css
  web/carousel/src/components/Login/SignupContainer/SignupForm/SignupForm.js
  web/carousel/src/components/PasswordForm/PasswordForm.js
  web/carousel/src/components/UI/ButtonPrimary/ButtonPrimary.js
  web/carousel/src/components/UI/ButtonPrimary/ButtonPrimary.module.css
  web/carousel/src/components/UI/ButtonSecondary/ButtonSecondary.module.css
  web/carousel/src/components/UI/ConfirmPopup/ConfirmPopup.js
  web/carousel/src/components/UI/ConfirmPopup/ConfirmPopup.module.css
  web/carousel/src/components/UI/InputUI/InputUI.js
  web/carousel/src/components/UI/UI.module.css
  web/carousel/src/screens/Account/Account.css
  web/carousel/src/screens/Account/ActiveOrder.js
  web/carousel/src/screens/Account/Address.js
  web/carousel/src/screens/Account/Cart.js
  web/carousel/src/screens/Account/Comments.js
  web/carousel/src/screens/Account/InactiveOrder.js
  web/carousel/src/screens/Account/List.js
  web/carousel/src/screens/Account/PaymentInfo.js
  web/carousel/src/screens/Account/Profile.js
  web/carousel/src/screens/Account/Rate.js
  web/carousel/src/screens/Account/Recommendation.js
  web/carousel/src/screens/Account/index.js
  web/carousel/src/screens/index.js
Labels: enhancement, web

#259 Changed dev-host IP
  .github/backend-deployment/dev-hosts
Labels: backend, enhancement

#262 Web bugfix/change ip
  web/carousel/src/apis/services.js
  web/carousel/src/components/GoogleLoginButton.js
  web/carousel/src/components/Header/SideButtons/SideButtons.js
  web/carousel/src/components/Login/ForgotPassword.js
  web/carousel/src/components/Login/LoginComponent.js
  web/carousel/src/components/Login/ResetPassword.js
  web/carousel/src/screens/Account/Profile.js
Labels: Priority: High, bug, web

#244 Add models for mainProduct and products
  backend/controllers/mainProduct.js
  backend/controllers/product.js
  backend/controllers/productRequest.js
  backend/controllers/vendor.js
  backend/dataAccess/client.js
  backend/dataAccess/customer.js
  backend/dataAccess/mainProduct.js
  backend/dataAccess/product.js
  backend/dataAccess/productRequest.js
  backend/dataAccess/vendor.js
  backend/models/mainProduct.js
  backend/models/product.js
  backend/models/productRequest.js
  backend/routers/mainProduct.js
  backend/routers/product.js
  backend/routers/productRequest.js
  backend/routers/vendor.js
  backend/server.js
  backend/services/mainProduct.js
  backend/services/product.js
  backend/services/vendor.js
  backend/util/appValidator.js
  backend/util/messages.js
Labels: backend, enhancement

#264 Changed id to _id for unity
  backend/swagger.json
  backend/util/format.js
Labels: backend, bug

#278 Android search appearance of products and filter fixed
  .gitignore
  Android/app/src/main/java/com/example/carousel/SearchFragment.kt
  Android/app/src/main/res/layout/fragment_search.xml
  Android/app/src/main/res/menu/filter_navigation_items.xml
Labels: Priority: High, android

#279 Android search added expandable items to price filter
  Android/app/src/main/java/com/example/carousel/SearchFragment.kt
  Android/app/src/main/res/layout/fragment_search.xml
  Android/app/src/main/res/values/styles.xml
Labels: android

#284 Backend feature/update documentation
  backend/swagger.json
Labels: Review Needed, backend, documentation

#287 Backend bugfix/product and vendor bugs
  backend/controllers/mainProduct.js
  backend/controllers/product.js
  backend/controllers/productRequest.js
  backend/controllers/vendor.js
  backend/dataAccess/mainProduct.js
  backend/models/product.js
  backend/services/admin.js
  backend/services/mainProduct.js
  backend/services/product.js
  backend/util/constants.js
  backend/util/messages.js
Labels: Priority: Medium, backend, bug

#285 Web feature/customer profile
  web/carousel/src/components/Account/Address/AddressHeadbar.js
  web/carousel/src/screens/Account/Profile.js
Labels: enhancement, web

#302 Backend feature/search product
  backend/controllers/product.js
  backend/controllers/productRequest.js
  backend/dataAccess/product.js
  backend/models/product.js
  backend/models/vendor.js
  backend/routers/product.js
  backend/services/product.js
  backend/util/messages.js
  backend/util/queryHelpers.js
Labels: Priority: High, backend, enhancement

#303 Android feature category
  Android/app/src/main/java/com/example/carousel/CategoriesAdapter.kt
  Android/app/src/main/java/com/example/carousel/CategoriesFragment.kt
  Android/app/src/main/java/com/example/carousel/Category.kt
  Android/app/src/main/java/com/example/carousel/map/ApiInterface.kt
  Android/app/src/main/java/com/example/carousel/pojo/Response.kt
  Android/app/src/main/res/drawable-hdpi/beauty.png
  Android/app/src/main/res/drawable-hdpi/electronics.png
  Android/app/src/main/res/drawable-hdpi/fashion.png
  Android/app/src/main/res/drawable-hdpi/home.png
  Android/app/src/main/res/drawable-hdpi/outdoor.png
  Android/app/src/main/res/drawable-hdpi/stationery.png
  Android/app/src/main/res/layout/category_view.xml
  Android/app/src/main/res/layout/fragment_categories.xml
  Android/app/src/main/res/layout/fragment_search.xml
Labels: android, enhancement

#310 Android product
  Android/app/build.gradle
  Android/app/src/main/ic_no_image-playstore.png
  Android/app/src/main/java/com/example/carousel/CartAdapter.kt
  Android/app/src/main/java/com/example/carousel/CartFragment.kt
  Android/app/src/main/java/com/example/carousel/HomeFragment.kt
  Android/app/src/main/java/com/example/carousel/JSON.kt
  Android/app/src/main/java/com/example/carousel/LoginActivity.kt
  Android/app/src/main/java/com/example/carousel/OrderAdapter.kt
  Android/app/src/main/java/com/example/carousel/OrderFragment.kt
  Android/app/src/main/java/com/example/carousel/Product.kt
  Android/app/src/main/java/com/example/carousel/ProductPageActivity.kt
  Android/app/src/main/java/com/example/carousel/ProductsAdapter.kt
  Android/app/src/main/java/com/example/carousel/SearchFragment.kt
  Android/app/src/main/java/com/example/carousel/ShoppingListFragment.kt
  Android/app/src/main/java/com/example/carousel/UserInformationFragment.kt
  Android/app/src/main/java/com/example/carousel/map/ApiInterface.kt
  Android/app/src/main/java/com/example/carousel/pojo/Response.kt
  Android/app/src/main/res/drawable/ic_add_circle_24px.xml
  Android/app/src/main/res/drawable/ic_no_image_background.xml
  Android/app/src/main/res/drawable/ic_remove_circle_24px.xml
  Android/app/src/main/res/layout/activity_product_page.xml
  Android/app/src/main/res/layout/fragment_cart.xml
  Android/app/src/main/res/layout/fragment_order.xml
  Android/app/src/main/res/layout/list_item.xml
  Android/app/src/main/res/layout/product_cart_view.xml
  Android/app/src/main/res/layout/product_order_view.xml
  Android/app/src/main/res/mipmap-anydpi-v26/ic_no_image.xml
  Android/app/src/main/res/mipmap-anydpi-v26/ic_no_image_round.xml
  Android/app/src/main/res/mipmap-hdpi/ic_no_image.png
  Android/app/src/main/res/mipmap-hdpi/ic_no_image_foreground.png
  Android/app/src/main/res/mipmap-hdpi/ic_no_image_round.png
  Android/app/src/main/res/mipmap-mdpi/ic_no_image.png
  Android/app/src/main/res/mipmap-mdpi/ic_no_image_foreground.png
  Android/app/src/main/res/mipmap-mdpi/ic_no_image_round.png
  Android/app/src/main/res/mipmap-xhdpi/ic_no_image.png
  Android/app/src/main/res/mipmap-xhdpi/ic_no_image_foreground.png
  Android/app/src/main/res/mipmap-xhdpi/ic_no_image_round.png
  Android/app/src/main/res/mipmap-xxhdpi/ic_no_image.png
  Android/app/src/main/res/mipmap-xxhdpi/ic_no_image_foreground.png
  Android/app/src/main/res/mipmap-xxhdpi/ic_no_image_round.png
  Android/app/src/main/res/mipmap-xxxhdpi/ic_no_image.png
  Android/app/src/main/res/mipmap-xxxhdpi/ic_no_image_foreground.png
  Android/app/src/main/res/mipmap-xxxhdpi/ic_no_image_round.png
Labels: Priority: High, android, enhancement

#314 Added comment functionality
  backend/controllers/comment.js
  backend/dataAccess/comment.js
  backend/models/comment.js
  backend/routers/comment.js
  backend/server.js
  backend/services/comment.js
Labels: backend, enhancement

#317 Changed vieving of comments available to all users
  backend/routers/comment.js
Labels: backend, bug

#318 Backend feature/order
  backend/controllers/order.js
  backend/controllers/shoppingCart.js
  backend/dataAccess/product.js
  backend/routers/customer.js
  backend/services/order.js
  backend/services/shoppingCart.js
Labels: Priority: High, Review Needed, backend, enhancement

#320 Added comment documentation
  backend/swagger.json
Labels: backend, documentation

#321 Added rating functionality
  backend/controllers/rating.js
  backend/routers/rating.js
  backend/server.js
  backend/services/rating.js
  backend/swagger.json
  backend/util/appValidator.js
Labels: backend, enhancement

#326 Android search and sort backend connection
  Android/app/src/main/java/com/example/carousel/Product.kt
  Android/app/src/main/java/com/example/carousel/ProductsAdapter.kt
  Android/app/src/main/java/com/example/carousel/SearchFragment.kt
  Android/app/src/main/java/com/example/carousel/map/ApiInterface.kt
  Android/app/src/main/java/com/example/carousel/map/SearchQuery.kt
  Android/app/src/main/java/com/example/carousel/pojo/Response.kt
  Android/app/src/main/res/layout/activity_signup_customer.xml
  Android/app/src/main/res/layout/fragment_search.xml
  Android/app/src/main/res/values/strings.xml
Labels: android, enhancement

#341 Backend feature/search filter
  backend/dataAccess/product.js
Labels: backend, enhancement

#335 Android homepage changes
  Android/app/build.gradle
  Android/app/src/main/ic_banner-playstore.png
  Android/app/src/main/java/com/example/carousel/HomeFragment.kt
  Android/app/src/main/res/drawable-v24/home_banner.png
  Android/app/src/main/res/layout/fragment_home.xml
Labels: Priority: Medium, android, help wanted

#342 Added backend accidentally removed functions
  backend/dataAccess/product.js
Labels: Priority: High, backend, bug

#328 Android search filter backend connection
  Android/app/src/main/java/com/example/carousel/Product.kt
  Android/app/src/main/java/com/example/carousel/SearchFragment.kt
  Android/app/src/main/java/com/example/carousel/map/ApiInterface.kt
  Android/app/src/main/java/com/example/carousel/pojo/Response.kt
  Android/app/src/main/res/layout/fragment_search.xml
Labels: Priority: High, android, enhancement

#346 Fixed header search bar style
  web/carousel/src/components/Header/SearchBar/SearchBar.js
  web/carousel/src/components/Header/SearchBar/SearchBar.module.css
Labels: Priority: Low, web

#343 Web feature/list
  web/carousel/src/apis/Account/Requests.js
  web/carousel/src/components/Account/Address/Address.js
  web/carousel/src/components/Account/Address/Address.module.css
  web/carousel/src/components/Account/PaymentInfo/PaymentInfo.module.css
  web/carousel/src/components/Login/LoginContainer/LoginForm/LoginForm.js
  web/carousel/src/components/Order/Order.js
  web/carousel/src/components/Order/Order.module.css
  web/carousel/src/screens/Account/ActiveOrder.js
  web/carousel/src/screens/Account/Address.js
  web/carousel/src/screens/Account/Cart.js
  web/carousel/src/screens/Account/InactiveOrder.js
  web/carousel/src/screens/Account/List.js
  web/carousel/src/screens/Account/PaymentInfo.js
  web/carousel/src/screens/Account/index.js
Labels: Priority: High, enhancement, web

#348 Add implementation of filter for parameters
  backend/dataAccess/product.js
  backend/util/queryHelpers.js
Labels: backend, bug

#349 updated shoppingCart according to front ends needs.
  backend/controllers/shoppingCart.js
  backend/dataAccess/customer.js
  backend/dataAccess/product.js
  backend/services/shoppingCart.js
Labels: backend, enhancement

#351 updated shoppingCart documentation.
  backend/swagger.json
Labels: backend, documentation, enhancement

#329 Android cart backend
  Android/app/src/main/java/com/example/carousel/CartAdapter.kt
  Android/app/src/main/java/com/example/carousel/CartFragment.kt
  Android/app/src/main/java/com/example/carousel/Comment.kt
  Android/app/src/main/java/com/example/carousel/CommentAdapter.kt
  Android/app/src/main/java/com/example/carousel/HomeFragment.kt
  Android/app/src/main/java/com/example/carousel/JSON.kt
  Android/app/src/main/java/com/example/carousel/OrderAdapter.kt
  Android/app/src/main/java/com/example/carousel/OrderFragment.kt
  Android/app/src/main/java/com/example/carousel/Product.kt
  Android/app/src/main/java/com/example/carousel/ProductPageActivity.kt
  Android/app/src/main/java/com/example/carousel/UserInformationFragment.kt
  Android/app/src/main/java/com/example/carousel/map/ApiCaller.kt
  Android/app/src/main/java/com/example/carousel/map/ApiInterface.kt
  Android/app/src/main/java/com/example/carousel/pojo/Response.kt
  Android/app/src/main/res/layout/activity_create_list.xml
  Android/app/src/main/res/layout/comment_view.xml
  Android/app/src/main/res/layout/fragment_order.xml
  Android/app/src/main/res/layout/product_order_view.xml
Labels: Priority: High, android

#355 Fixed merging issues
  Android/app/src/main/java/com/example/carousel/ProductPageActivity.kt
  Android/app/src/main/java/com/example/carousel/pojo/Response.kt
Labels: Priority: High, android, bug

#352 Added list functionality
  backend/controllers/list.js
  backend/dataAccess/customer.js
  backend/models/customer.js
  backend/routers/list.js
  backend/server.js
  backend/services/list.js
Labels: backend, enhancement

#357 Backend bug/initialize shopping cart
  backend/models/customer.js
Labels: Priority: High, backend, bug

#359 Android bugfix mainproduct
  Android/app/src/main/java/com/example/carousel/Product.kt
  Android/app/src/main/java/com/example/carousel/SearchFragment.kt
  Android/app/src/main/java/com/example/carousel/map/APIClient.kt
  Android/app/src/main/java/com/example/carousel/map/ApiCaller.kt
  Android/app/src/main/java/com/example/carousel/pojo/Response.kt
  Android/app/src/main/res/layout/fragment_search.xml
Labels: Priority: Fatal, android

#356 Added Android purchase API request
  Android/app/src/main/java/com/example/carousel/JSON.kt
  Android/app/src/main/java/com/example/carousel/OrderFragment.kt
  Android/app/src/main/java/com/example/carousel/map/ApiInterface.kt
  Android/app/src/main/java/com/example/carousel/pojo/Response.kt
  Android/app/src/main/res/layout/fragment_order.xml
Labels: android, enhancement

#360 Android vendor dashboard
  Android/.idea/codeStyles/Project.xml
  Android/.idea/jarRepositories.xml
  Android/app/src/main/AndroidManifest.xml
  Android/app/src/main/java/com/example/carousel/DashboardActivity.kt
  Android/app/src/main/java/com/example/carousel/LoginActivity.kt
  Android/app/src/main/java/com/example/carousel/MemberAccountPageFragment.kt
  Android/app/src/main/java/com/example/carousel/UserInformationFragment.kt
  Android/app/src/main/java/com/example/carousel/customer/RegisterInfoActivity.kt
  Android/app/src/main/java/com/example/carousel/customer/RegisterPasswordActivity.kt
  Android/app/src/main/java/com/example/carousel/map/ApiInterface.kt
  Android/app/src/main/java/com/example/carousel/pojo/Response.kt
  Android/app/src/main/java/com/example/carousel/vendor/VendorDashboardActivity.kt
  Android/app/src/main/java/com/example/carousel/vendor/VendorHomeFragment.kt
  Android/app/src/main/java/com/example/carousel/vendor/VendorOrdersFragment.kt
  Android/app/src/main/java/com/example/carousel/vendor/VendorProduct.kt
  Android/app/src/main/java/com/example/carousel/vendor/VendorProductPageActivity.kt
  Android/app/src/main/java/com/example/carousel/vendor/VendorProductsAdapter.kt
  Android/app/src/main/java/com/example/carousel/vendor/VendorRegisterInfoActivity.kt
  Android/app/src/main/res/drawable-anydpi/ic_orders.xml
  Android/app/src/main/res/drawable-hdpi/ic_orders.png
  Android/app/src/main/res/drawable-mdpi/ic_orders.png
  Android/app/src/main/res/drawable-xhdpi/ic_orders.png
  Android/app/src/main/res/drawable-xxhdpi/ic_orders.png
  Android/app/src/main/res/layout/activity_vendor_dashboard.xml
  Android/app/src/main/res/layout/fragment_vendor_home.xml
  Android/app/src/main/res/layout/fragment_vendor_orders.xml
  Android/app/src/main/res/layout/vendor_activity_product_page.xml
  Android/app/src/main/res/layout/vendor_product_view.xml
  Android/app/src/main/res/menu/bottom_nav_menu_vendor.xml
  Android/app/src/main/res/values/strings.xml
  Android/build.gradle
Labels: Priority: Fatal, android, enhancement

#362 Fixed unprotected getAll endpoint
  backend/routers/category.js
Labels: backend, bug
