Repository bounswe/bounswe2020group8, pull requests merged in 2020-11, with the labels that each got.

#92 Add project plan for 451
  projectPlan/cmpe451-group8.pod
  projectPlan/plan-full.png.pdf
  projectPlan/plan.png.pdf
  projectPlan/plan2.png.pdf
  projectPlan/projectplan-gantt.pdf
  projectPlan/projectplan-gantt.png
  projectPlan/projectplan-spreadsheet.pdf
  projectPlan/projectplan-spreadsheet.png
  projectPlan/projectplan.pdf
Labels: Priority: High

#113 Create inital react app
  web/carousel/.gitignore
  web/carousel/README.md
  web/carousel/package-lock.json
  web/carousel/package.json
  web/carousel/public/favicon.ico
  web/carousel/public/index.html
  web/carousel/public/logo192.png
  web/carousel/public/logo512.png
  web/carousel/public/manifest.json
  web/carousel/public/robots.txt
  web/carousel/src/App.css
  web/carousel/src/App.js
  web/carousel/src/index.css
  web/carousel/src/index.js
  web/carousel/src/reportWebVitals.js
  web/carousel/src/setupTests.js
Labels: web

#122 Dockerfile has been added
  web/carousel/Dockerfile
Labels: enhancement, web

#127 Web feature/google auth
  web/carousel/package-lock.json
  web/carousel/package.json
  web/carousel/public/index.html
  web/carousel/src/App.js
  web/carousel/src/components/GoogleAuth.js
  web/carousel/src/index.js
  web/carousel/src/redux/actionTypes.js
  web/carousel/src/redux/auth/actions.js
  web/carousel/src/redux/auth/reducer.js
  web/carousel/src/redux/configureStore.js
  web/carousel/src/reportWebVitals.js
  web/carousel/src/screens/Home/index.js
  web/carousel/src/screens/Login/index.js
  web/carousel/src/screens/index.js
  web/carousel/src/setupTests.js
Labels: enhancement, web

#132 Backend feature/swagger dynamic host
  backend/controllers/client.js
  backend/models/client.js
  backend/server.js
  backend/services/client.js
  backend/swagger.json
  backend/util/appValidator.js
  backend/util/format.js
  backend/util/messages.js
Labels: backend, enhancement

#136 Add name and lastName for signup endpoint
  backend/swagger.json
Labels: backend, documentation

#149 Added controls for user email verification
  backend/services/client.js
  backend/util/messages.js
Labels: backend, enhancement

#158 Change verifyEmail endpoint's method to get
  backend/routers/client.js
  backend/swagger.json
Labels: backend, bug

#159 Added Pull Request Template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: backend, documentation, enhancement

#160 Bug fix in function createTokenAndFormat
  backend/services/client.js
Labels: backend, bug

#170 Fixed update part of resetPasswordToken
  backend/dataAccess/client.js
  backend/services/client.js
Labels: backend, enhancement

#169 Fix emailer issue
  backend/util/emailer.js
Labels: backend, bug

#171 Fix typo in resetPasswordService
  backend/services/client.js
Labels: backend, bug

#182 Add redirections for frontend ip
  backend/services/client.js
  backend/swagger.json
  backend/util/requestHelper.js
Labels: backend, enhancement

#193 Milestone 1 Report
  deliverables/CmpE451_Milestone1.pdf
Labels: documentation, enhancement
