Repository bounswe/bounswe2020group8, pull requests merged in 2021-01, with the labels that each got.

#366 Add group photo and new members
  README.md
Labels: documentation

#368 Fixed getAll endpoint of lists
  backend/services/list.js
Labels: backend, bug

#389 Fixed gitignore
  .gitignore
Labels: bug, web

#391 Update deploy-web-dev.yaml
  .github/workflows/deploy-web-dev.yaml
Labels: web

#393 Added milestone 2 report
  deliverables/CmpE451_Milestone2.pdf
Labels: documentation

#367 Fix product request and tag inherit in product form
  web/carousel/src/components/Account/VendorAddProduct/ProductForm/ProductForm.js
  web/carousel/src/components/Account/VendorProductRequests/VendorProductRequests.js
  web/carousel/src/screens/VendorAccount/AddProduct.js
Labels: Priority: Low, bug, web

#399 Web bugfix/console logs
  web/carousel/src/apis/Account/Requests.js
  web/carousel/src/apis/services.js
  web/carousel/src/components/Account/PaymentInfo/PaymentInfo.js
  web/carousel/src/components/Account/VendorAddProduct/ExistingProductForm/ExistingProductForm.js
  web/carousel/src/components/Account/VendorAddProduct/ExistingProductsTable/ExistingProductsTable.js
  web/carousel/src/components/Account/VendorProductRequests/VendorEditProductRequestForm.js
  web/carousel/src/components/Account/VendorProductRequests/VendorProductRequests.js
  web/carousel/src/components/Account/VendorProducts/VendorProducts.js
  web/carousel/src/components/Admin/Category/CategoriesComponent.js
  web/carousel/src/components/Admin/MainProducts/MainProducts.js
  web/carousel/src/components/Admin/ProductRequests/ProductRequests.js
  web/carousel/src/components/Admin/Products/Products.js
  web/carousel/src/components/Admin/UserAccounts/UserAccountsComponent.js
  web/carousel/src/components/Header/SideButtons/SideButtons.js
  web/carousel/src/components/Login/AdminLogin/AdminLoginComponent.js
  web/carousel/src/components/Login/LoginComponent.js
  web/carousel/src/components/Login/LoginSignButtons/LoginSignButtons.js
  web/carousel/src/components/Login/SignupContainer/SignupForm/SignupForm.js
  web/carousel/src/components/MapComponent/MapComponent.js
  web/carousel/src/components/PicturesWall.js
  web/carousel/src/components/Product/Product.js
  web/carousel/src/components/Product/ProductInfo/Features/FeaturesComponent.js
  web/carousel/src/components/Product/ProductInfo/OtherSellers/OtherSellersComponent.js
  web/carousel/src/components/Product/ProductInfo/SectionToggle.js
  web/carousel/src/components/ProductList/HomepageProduct.js
  web/carousel/src/screens/Account/AllProduct.js
  web/carousel/src/screens/Account/NewProduct.js
  web/carousel/src/screens/Account/Profile.js
  web/carousel/src/screens/Account/index.js
  web/carousel/src/screens/AdminAccount/index.js
  web/carousel/src/screens/Home/index.js
  web/carousel/src/screens/Search/index.js
  web/carousel/src/screens/VendorAccount/AddProduct.js
  web/carousel/src/screens/VendorAccount/Profile.js
  web/carousel/src/screens/VendorAccount/index.js
  web/carousel/src/screens/index.js
Labels: Priority: High, bug, help wanted, web

#397 Web feature/order cart list
  web/carousel/src/components/Header/SideButtons/SideButtons.js
  web/carousel/src/components/Product/Product.js
  web/carousel/src/components/Product/ProductBox.js
  web/carousel/src/components/ProductList/HomepageProduct.js
  web/carousel/src/components/ProductList/SearchProduct.js
  web/carousel/src/screens/Account/ActiveOrder.js
  web/carousel/src/screens/Account/Cart.js
  web/carousel/src/screens/Account/InactiveOrder.js
  web/carousel/src/screens/Account/List.js
Labels: enhancement, web

#412 Backend documentation/multi-file structure
  backend/documentation/_index.yaml
  backend/documentation/components/responses/_index.yaml
  backend/documentation/components/responses/admin.yaml
  backend/documentation/components/responses/category.yaml
  backend/documentation/components/responses/comment.yaml
  backend/documentation/components/responses/customer.yaml
  backend/documentation/components/responses/general.yaml
  backend/documentation/components/responses/rating.yaml
  backend/documentation/components/responses/vendor.yaml
  backend/documentation/components/schemas/_index.yaml
  backend/documentation/components/schemas/admin.yaml
  backend/documentation/components/schemas/category.yaml
  backend/documentation/components/schemas/comment.yaml
  backend/documentation/components/schemas/customer.yaml
  backend/documentation/components/schemas/order.yaml
  backend/documentation/components/schemas/rating.yaml
  backend/documentation/components/schemas/vendor.yaml
  backend/documentation/paths/_index.yaml
  backend/documentation/paths/admin.yaml
  backend/documentation/paths/category.yaml
  backend/documentation/paths/comment.yaml
  backend/documentation/paths/customer.yaml
  backend/documentation/paths/rating.yaml
  backend/documentation/paths/vendor.yaml
  backend/documentation/swagger.yaml
  backend/package.json
  backend/server.js
  backend/swagger.json
Labels: backend, documentation

#401 Update deployment workflows for web
  .github/workflows/deploy-backend-dev.yaml
  .github/workflows/deploy-web-dev.yaml
Labels: deployment, web

#416 Add documentation for product, mainProduct and productRequest
  backend/documentation/components/responses/_index.yaml
  backend/documentation/components/responses/mainProduct.yaml
  backend/documentation/components/responses/product.yaml
  backend/documentation/components/responses/productRequest.yaml
  backend/documentation/components/schemas/_index.yaml
  backend/documentation/components/schemas/mainProduct.yaml
  backend/documentation/components/schemas/product.yaml
  backend/documentation/components/schemas/productRequest.yaml
  backend/documentation/paths/_index.yaml
  backend/documentation/paths/mainProduct.yaml
  backend/documentation/paths/product.yaml
  backend/documentation/paths/productRequest.yaml
  backend/documentation/paths/vendor.yaml
  backend/documentation/swagger.yaml
Labels: backend, documentation

#410 Tests for Product page
  web/carousel/package-lock.json
  web/carousel/package.json
  web/carousel/src/components/Product/Product.test.js
  web/carousel/src/components/Product/ProductActions/ProductActions.test.js
  web/carousel/src/components/Product/ProductHeader/ProductHeader.test.js
  web/carousel/src/components/Product/ProductInfo/SectionToggle.test.js
Labels: Priority: Medium, enhancement, web

#426 Add endpoint for public vendor profile and improve /product/search
  backend/controllers/product.js
  backend/controllers/vendor.js
  backend/dataAccess/product.js
  backend/documentation/components/responses/_index.yaml
  backend/documentation/components/responses/vendor.yaml
  backend/documentation/components/schemas/_index.yaml
  backend/documentation/components/schemas/customer.yaml
  backend/documentation/components/schemas/order.yaml
  backend/documentation/components/schemas/vendor.yaml
  backend/documentation/paths/_index.yaml
  backend/documentation/paths/vendor.yaml
  backend/documentation/swagger.yaml
  backend/routers/vendor.js
  backend/services/vendor.js
  backend/util/format.js
Labels: backend, enhancement

#430 Fix /vendor/me endpoint
  backend/routers/vendor.js
  backend/util/format.js
Labels: backend, bug

#433 Fix SSH key in web deployment workflow
  .github/backend-deployment/backend-dev.yml
  .github/web-deployment/web-dev.yml
  .github/workflows/deploy-backend-dev.yaml
  .github/workflows/deploy-web-dev.yaml
Labels: backend, deployment, web

#435 Delete deployment workflows and related files
  .github/backend-deployment/backend-dev.yml
  .github/backend-deployment/dev-hosts
  .github/web-deployment/dev-hosts
  .github/web-deployment/web-dev.yml
  .github/workflows/deploy-backend-dev.yaml
  .github/workflows/deploy-web-dev.yaml
Labels: backend, deployment

#424 Web feature/add list
  web/carousel/src/components/Product/ProductActions/ProductActions.js
  web/carousel/src/screens/Account/Cart.js
  web/carousel/src/screens/Account/List.js
Labels: enhancement, web

#434 Tests for Header component
  web/carousel/src/components/Header/Header.js
  web/carousel/src/components/Header/Header.test.js
  web/carousel/src/components/Header/SideButtons/SideButtons.js
  web/carousel/src/components/Header/SideButtons/SideButtons.test.js
Labels: Priority: Medium, test, web

#436 Tests for Vendor my products
  web/carousel/src/components/Account/VendorProducts/VendorEditProductForm.test.js
  web/carousel/src/components/Account/VendorProducts/VendorProducts.test.js
Labels: Priority: Medium, test, web

#441 Search by Categories
  web/carousel/src/components/Header/Categories/CategoryBox.js
Labels: web

#439 Web bugfix/filter vendor
  web/carousel/src/screens/Search/index.js
Labels: bug, web

#420 Android revise product - Functional "Add to Cart"
  Android/app/src/main/java/com/example/carousel/ForgotPasswordActivity.kt
  Android/app/src/main/java/com/example/carousel/HomeFragment.kt
  Android/app/src/main/java/com/example/carousel/ProductPageActivity.kt
  Android/app/src/main/java/com/example/carousel/ProductsAdapter.kt
  Android/app/src/main/java/com/example/carousel/SearchFragment.kt
  Android/app/src/main/res/layout/activity_product_page.xml
  Android/app/src/main/res/layout/product_view.xml
Labels: android, enhancement

#445 Backend feature/update order
  backend/controllers/order.js
  backend/controllers/purchase.js
  backend/controllers/shoppingCart.js
  backend/dataAccess/order.js
  backend/models/customer.js
  backend/models/order.js
  backend/routers/customer.js
  backend/routers/guest.js
  backend/routers/vendor.js
  backend/services/order.js
  backend/services/purchase.js
  backend/services/shoppingCart.js
Labels: backend, enhancement

#448 Backend feature/recommendation
  backend/controllers/customer.js
  backend/controllers/product.js
  backend/dataAccess/customer.js
  backend/dataAccess/order.js
  backend/dataAccess/product.js
  backend/documentation/paths/_index.yaml
  backend/documentation/paths/customer.yaml
  backend/documentation/paths/product.yaml
  backend/documentation/swagger.yaml
  backend/models/customer.js
  backend/routers/customer.js
  backend/routers/product.js
  backend/services/customer.js
  backend/services/product.js
Labels: backend, enhancement

#451 fixed type mismatched bug causing vendor history to be unreachable.
  backend/dataAccess/order.js
Labels: Priority: High, backend, bug

#456 Android search filter
  Android/app/src/main/java/com/example/carousel/SearchFragment.kt
  Android/app/src/main/java/com/example/carousel/map/ApiInterface.kt
Labels: android, bug

#453 Backend feature/guest user
  backend/controllers/guest.js
  backend/controllers/order.js
  backend/controllers/purchase.js
  backend/controllers/shoppingCart.js
  backend/dataAccess/guest.js
  backend/dataAccess/order.js
  backend/models/guestShoppingCart.js
  backend/routers/guest.js
  backend/server.js
  backend/services/guest.js
  backend/services/order.js
  backend/services/purchase.js
  backend/services/shoppingCart.js
Labels: backend, enhancement

#460 Added ticket system and removed minor debug lines
  backend/controllers/ticket.js
  backend/dataAccess/ticket.js
  backend/documentation/components/responses/_index.yaml
  backend/documentation/components/responses/ticket.yaml
  backend/documentation/components/schemas/_index.yaml
  backend/documentation/components/schemas/ticket.yaml
  backend/documentation/paths/_index.yaml
  backend/documentation/paths/ticket.yaml
  backend/documentation/swagger.yaml
  backend/models/activity.js
  backend/models/ticket.js
  backend/routers/ticket.js
  backend/server.js
  backend/services/ticket.js
  backend/util/constants.js
  backend/util/endpoint.js
Labels: backend, enhancement

#455 Add a carousel to homepage for recommendations
  Android/app/src/main/java/com/example/carousel/DashboardActivity.kt
  Android/app/src/main/java/com/example/carousel/HomeFragment.kt
  Android/app/src/main/java/com/example/carousel/Product.kt
  Android/app/src/main/java/com/example/carousel/map/ApiInterface.kt
  Android/app/src/main/java/com/example/carousel/pojo/Response.kt
  Android/app/src/main/res/layout/fragment_home.xml
Labels: android, enhancement

#462 Fix product recommendation and remove unnecessary log statements
  backend/dataAccess/product.js
  backend/services/product.js
Labels: backend, bug

#464 Remove tags hotsellers and trendings from recommendations
  backend/services/customer.js
  backend/services/product.js
Labels: backend, bug

#461 fix cart endpoint changes
  web/carousel/src/components/GoogleLoginButton.js
  web/carousel/src/components/Header/SideButtons/SideButtons.js
  web/carousel/src/components/Product/Product.js
  web/carousel/src/components/ProductList/HomepageProduct.js
  web/carousel/src/components/ProductList/SearchProduct.js
  web/carousel/src/screens/Account/ActiveOrder.js
  web/carousel/src/screens/Account/Cart.js
  web/carousel/src/screens/Account/InactiveOrder.js
  web/carousel/src/screens/Account/List.js
Labels: Priority: High, bug, web

#444 Tests for login
  web/carousel/src/components/Login/LoginComponent.js
  web/carousel/src/components/Login/LoginComponent.test.js
  web/carousel/src/components/Login/LoginContainer/LoginForm/LoginForm.test.js
  web/carousel/src/components/Login/SignupContainer/SignupForm/SignupForm.test.js
Labels: Priority: Medium, test, web

#472 Backend bug/shopping cart get
  backend/controllers/shoppingCart.js
  backend/models/guestShoppingCart.js
  backend/routers/customer.js
Labels: Priority: High, backend, bug

#478 Android recommendation product page
  Android/app/src/main/java/com/example/carousel/Product.kt
  Android/app/src/main/java/com/example/carousel/ProductPageActivity.kt
  Android/app/src/main/java/com/example/carousel/SearchFragment.kt
  Android/app/src/main/res/drawable-hdpi/no_result.png
  Android/app/src/main/res/layout/activity_product_page.xml
  Android/app/src/main/res/layout/fragment_search.xml
Labels: android, enhancement

#466 Added watchlist and notification register mechanism
  backend/controllers/authClient.js
  backend/controllers/list.js
  backend/dataAccess/client.js
  backend/dataAccess/product.js
  backend/dataAccess/watcher.js
  backend/models/client.js
  backend/models/customer.js
  backend/models/watcher.js
  backend/routers/client.js
  backend/routers/list.js
  backend/services/authClient.js
  backend/services/list.js
  backend/services/order.js
  backend/services/product.js
  backend/services/purchase.js
  backend/services/ticket.js
  backend/util/constants.js
  backend/util/notification.js
Labels: backend, enhancement

#477 Added order messaging.
  backend/controllers/orderMessage.js
  backend/dataAccess/orderMessage.js
  backend/models/orderMessage.js
  backend/routers/orderMessage.js
  backend/services/orderMessage.js
Labels: backend, enhancement

#476 Add rate, name and lastName to Comment and Add Rating of Vendor out of 10
  backend/controllers/comment.js
  backend/controllers/rating.js
  backend/dataAccess/comment.js
  backend/models/comment.js
  backend/models/vendor.js
  backend/routers/rating.js
  backend/services/comment.js
  backend/services/rating.js
Labels: backend, bug

#475 Android Order
  Android/app/src/main/java/com/example/carousel/AddAddressFragment.kt
  Android/app/src/main/java/com/example/carousel/AddCardFragment.kt
  Android/app/src/main/java/com/example/carousel/CartFragment.kt
  Android/app/src/main/java/com/example/carousel/OrderFragment.kt
  Android/app/src/main/java/com/example/carousel/ProductPageActivity.kt
  Android/app/src/main/java/com/example/carousel/ProductsAdapter.kt
  Android/app/src/main/java/com/example/carousel/Settings.kt
  Android/app/src/main/java/com/example/carousel/map/ApiInterface.kt
  Android/app/src/main/java/com/example/carousel/pojo/Response.kt
  Android/app/src/main/res/layout/fragment_order.xml
Labels: android, bug, enhancement

#459 Web feature/vendor public page
  web/carousel/src/components/Header/SideButtons/SideButtons.js
  web/carousel/src/components/Product/Product.js
  web/carousel/src/components/Product/ProductActions/ProductActions.js
  web/carousel/src/components/ProductList/SearchProduct.js
  web/carousel/src/screens/Search/index.js
  web/carousel/src/screens/VendorAccount/Profile.js
  web/carousel/src/screens/VendorAccount/index.js
  web/carousel/src/screens/VendorHome/VendorPublicPage.js
  web/carousel/src/screens/index.js
Labels: enhancement, web

#479 Fixed notification endpoint authorization.
  backend/routers/client.js
Labels: backend, bug

#468 Added vendor order pages and order status change
  web/carousel/src/components/Account/VendorOrders/InactiveOrders.js
  web/carousel/src/components/Account/VendorOrders/Orders.js
  web/carousel/src/components/Account/VendorOrders/Orders.module.css
  web/carousel/src/screens/VendorAccount/ActiveOrder.js
  web/carousel/src/screens/VendorAccount/InactiveOrder.js
  web/carousel/src/screens/VendorAccount/index.js
Labels: Priority: High, enhancement, web

#484 Backend feature/documentation enhancement
  backend/documentation/components/responses/_index.yaml
  backend/documentation/components/responses/notification.yaml
  backend/documentation/components/responses/orderMessage.yaml
  backend/documentation/components/responses/shoppingList.yaml
  backend/documentation/components/schemas/_index.yaml
  backend/documentation/components/schemas/notification.yaml
  backend/documentation/components/schemas/orderMessage.yaml
  backend/documentation/components/schemas/shoppingList.yaml
  backend/documentation/paths/_index.yaml
  backend/documentation/paths/notification.yaml
  backend/documentation/paths/orderMessage.yaml
  backend/documentation/paths/shoppingList.yaml
  backend/documentation/swagger.yaml
  backend/models/client.js
  backend/routers/orderMessage.js
  backend/server.js
  backend/services/orderMessage.js
Labels: backend, bug, enhancement

#485 Added backend connection for tickets
  Android/app/src/main/java/com/example/carousel/CurrentConversationsAdapter.kt
  Android/app/src/main/java/com/example/carousel/LatestMessagesFragment.kt
  Android/app/src/main/java/com/example/carousel/MessageActivity.kt
  Android/app/src/main/java/com/example/carousel/NewTicketFragment.kt
  Android/app/src/main/java/com/example/carousel/map/ApiInterface.kt
  Android/app/src/main/java/com/example/carousel/pojo/Response.kt
  Android/app/src/main/res/drawable/ic_add.xml
  Android/app/src/main/res/layout/conversation_view.xml
  Android/app/src/main/res/layout/fragment_latest_messages.xml
  Android/app/src/main/res/layout/fragment_new_ticket.xml
  Android/app/src/main/res/menu/top_nav_menu_ticket.xml
  Android/app/src/main/res/values/styles.xml
Labels: android, enhancement

#491 Fixed notification bugs and added admin info with unread notifications.
  backend/controllers/admin.js
  backend/controllers/authClient.js
  backend/dataAccess/admin.js
  backend/dataAccess/client.js
  backend/models/client.js
  backend/models/orderMessage.js
  backend/routers/admin.js
  backend/routers/client.js
  backend/services/admin.js
  backend/services/authClient.js
  backend/services/orderMessage.js
  backend/services/ticket.js
  backend/util/appValidator.js
  backend/util/constants.js
  backend/util/messages.js
  backend/util/notification.js
Labels: backend, bug, enhancement

#492 Changed hyperlink to sync with web app router.
  backend/services/orderMessage.js
  backend/services/product.js
  backend/services/ticket.js
Labels: backend, bug

#488 Backend feature/purchase update
  backend/controllers/order.js
  backend/controllers/purchase.js
  backend/dataAccess/order.js
  backend/models/order.js
  backend/routers/guest.js
  backend/routers/vendor.js
  backend/services/order.js
  backend/services/purchase.js
  backend/util/appValidator.js
  backend/util/messages.js
Labels: Priority: High, backend, enhancement

#493 Fixed admin info object.
  backend/controllers/admin.js
  backend/routers/admin.js
  backend/services/admin.js
  backend/services/purchase.js
Labels: backend, bug

#494 Added validator for forwarding ticket.
  backend/controllers/ticket.js
Labels: backend, bug

#497 Fixed rate validation and added validator to controller.
  backend/controllers/comment.js
Labels: backend, bug

#501 Add clear filters button and change color of apply button
  Android/app/src/main/java/com/example/carousel/DashboardActivity.kt
  Android/app/src/main/java/com/example/carousel/SearchFragment.kt
  Android/app/src/main/res/layout/fragment_search.xml
Labels: android, bugfix

#490 Web feature/order detail
  web/carousel/src/components/Product/ProductBox.js
  web/carousel/src/screens/Account/ActiveOrder.js
  web/carousel/src/screens/Account/InactiveOrder.js
  web/carousel/src/screens/Account/OrderDetail.js
  web/carousel/src/screens/Account/index.js
  web/carousel/src/screens/VendorAccount/OrderDetail.js
Labels: Priority: High, enhancement, web

#505 Fixed reply to ticket bug and refactoring
  Android/.idea/jarRepositories.xml
  Android/app/src/main/java/com/example/carousel/CurrentConversationsAdapter.kt
  Android/app/src/main/java/com/example/carousel/LatestTicketsFragment.kt
  Android/app/src/main/java/com/example/carousel/MessageFragment.kt
  Android/app/src/main/java/com/example/carousel/NewTicketFragment.kt
  Android/app/src/main/java/com/example/carousel/pojo/Response.kt
  Android/app/src/main/res/layout/fragment_latest_tickets.xml
  Android/app/src/main/res/layout/fragment_message.xml
Labels: android, bugfix

#498 Web feature/guest transactions
  web/carousel/src/components/Header/SideButtons/SideButtons.js
  web/carousel/src/components/Order/Order.module.css
  web/carousel/src/components/Order/OrderGuest.js
  web/carousel/src/components/Product/Product.js
  web/carousel/src/components/Product/ProductActions/ProductActions.js
  web/carousel/src/components/ProductList/HomepageProduct.js
  web/carousel/src/components/ProductList/SearchProduct.js
  web/carousel/src/screens/Account/Cart.js
Labels: Priority: High, enhancement, web

#506 Android revise cart
  Android/app/src/main/java/com/example/carousel/CartAdapter.kt
  Android/app/src/main/java/com/example/carousel/CartFragment.kt
  Android/app/src/main/java/com/example/carousel/map/ApiInterface.kt
  Android/app/src/main/java/com/example/carousel/pojo/Response.kt
  Android/app/src/main/res/layout/fragment_cart.xml
  Android/app/src/main/res/layout/product_cart_view.xml
Labels: android, enhancement

#510 Backend bugfix/comment rate control
  backend/controllers/comment.js
  backend/controllers/rating.js
  backend/models/vendor.js
  backend/routers/rating.js
  backend/services/comment.js
  backend/services/rating.js
Labels: backend, bug

#509 Added order track interface for guests
  web/carousel/src/components/Header/Categories/Categories.module.css
  web/carousel/src/components/Header/Header.js
  web/carousel/src/components/Header/Header.module.css
  web/carousel/src/components/Header/OrderTrack/OrderTrack.js
  web/carousel/src/components/Product/ProductBox.js
  web/carousel/src/screens/Account/OrderDetail.js
  web/carousel/src/screens/OrderTrack/index.js
  web/carousel/src/screens/index.js
Labels: Priority: High, enhancement, web

#514 Added product info in the watchlist
  backend/controllers/comment.js
  backend/controllers/list.js
  backend/dataAccess/customer.js
  backend/dataAccess/product.js
  backend/services/list.js
  backend/services/orderMessage.js
  backend/util/messages.js
Labels: backend, bug

#513 Web feature/agreements
  web/carousel/src/components/Agreements/PrivacyPolicy.js
  web/carousel/src/components/Agreements/Terms.js
  web/carousel/src/components/Footer/Footer.js
  web/carousel/src/components/Login/SignupContainer/SignupForm/SignupForm.js
  web/carousel/src/screens/Account/Cart.js
  web/carousel/src/screens/index.js
Labels: Priority: Low, enhancement, web

#516 Changed dataAccess object from Ticket to OrderMessage.
  backend/dataAccess/orderMessage.js
Labels: backend, bug

#520 Backend bugfix/extend shopping list
  backend/controllers/list.js
  backend/dataAccess/watcher.js
  backend/routers/list.js
  backend/services/list.js
Labels: backend, bug

#521 Fixed reply functionality and vendor notification.
  backend/controllers/orderMessage.js
  backend/dataAccess/orderMessage.js
  backend/services/orderMessage.js
Labels: backend, bug

#518 Added total earnings for vendors
  web/carousel/src/screens/VendorAccount/Profile.js
Labels: Priority: Low, enhancement, web

#522 Added correct hyperlink.
  backend/services/orderMessage.js
Labels: backend, bug

#523 Fixed logical and operation in notification checking of purchase serv…
  backend/services/comment.js
  backend/services/order.js
  backend/services/product.js
  backend/services/purchase.js
Labels: backend, bug

#524 Added ClientDataAccess and removed unnecessary log lines.
  backend/dataAccess/order.js
  backend/services/comment.js
  backend/services/orderMessage.js
Labels: backend, bug

#528 Fixed purchase bug relating insufficient stocks
  backend/services/order.js
  backend/services/purchase.js
  backend/util/messages.js
Labels: backend, bugfix

#500 Added cancel order for vendors
  web/carousel/src/components/Account/VendorOrders/InactiveOrders.js
  web/carousel/src/components/Account/VendorOrders/Orders.js
Labels: Priority: Medium, enhancement, web

#526 Add messaging pages between vendors and customers
  web/carousel/src/components/Account/Message/Message.js
  web/carousel/src/components/Account/Message/Message.module.css
  web/carousel/src/components/Header/SideButtons/SideButtons.js
  web/carousel/src/components/Product/ProductBox.js
  web/carousel/src/screens/Account/ActiveOrder.js
  web/carousel/src/screens/Account/InactiveOrder.js
  web/carousel/src/screens/Account/Messages.js
  web/carousel/src/screens/Account/OrderDetail.js
  web/carousel/src/screens/Account/index.js
  web/carousel/src/screens/VendorAccount/index.js
Labels: enhancement, web

#529 Add watchlist
  web/carousel/src/components/Account/VendorProducts/VendorEditProductForm.js
  web/carousel/src/components/Admin/ProductRequests/ProductRequests.js
  web/carousel/src/components/Product/ProductActions/ProductActions.js
  web/carousel/src/components/Product/ProductBox.js
  web/carousel/src/screens/Account/List.js
Labels: Priority: High, bugfix, web

#531 Fixed notification and product update function.
  backend/dataAccess/product.js
  backend/dataAccess/watcher.js
  backend/services/product.js
Labels: backend, bug

#532 Web2
  web/carousel/src/components/Header/SideButtons/SideButtons.js
  web/carousel/src/components/Product/ProductBox.js
  web/carousel/src/components/Product/ProductInfo/Comments/CommentsComponent.js
  web/carousel/src/screens/Account/ActiveOrder.js
  web/carousel/src/screens/Account/InactiveOrder.js
Labels: web

#533 Fixed constant key.
  backend/util/constants.js
Labels: backend, bug

#535 Added admin query structure
  backend/controllers/admin.js
  backend/services/admin.js
  backend/util/apiFeatures.js
Labels: backend, bug

#519 Fixed comment rate and name display
  Android/app/src/main/java/com/example/carousel/Comment.kt
  Android/app/src/main/java/com/example/carousel/CommentAdapter.kt
  Android/app/src/main/java/com/example/carousel/ProductPageActivity.kt
  Android/app/src/main/java/com/example/carousel/pojo/Response.kt
  Android/app/src/main/java/com/example/carousel/vendor/VendorProductPageActivity.kt
Labels: android, bugfix

#538 fix amount change
  web/carousel/src/screens/Account/Cart.js
Labels: Priority: Fatal, bugfix, web

#540 Android recommendation home
  Android/app/src/main/java/com/example/carousel/Product.kt
  Android/app/src/main/java/com/example/carousel/pojo/Response.kt
Labels: android, bugfix

#539 Fixed number of ratings not displayed correctly in home page
  Android/app/src/main/java/com/example/carousel/Product.kt
  Android/app/src/main/java/com/example/carousel/ProductPageActivity.kt
  Android/app/src/main/java/com/example/carousel/pojo/Response.kt
Labels: Priority: Medium, android, bugfix

#542 Android profile vendor
  Android/app/src/main/AndroidManifest.xml
Labels: Priority: Fatal

#536 Licensing
  LICENSE
Labels: backend, documentation

#544 Improve product search and recommendation by integrating DataMuse API
  backend/services/customer.js
  backend/services/product.js
  backend/util/constants.js
Labels: backend, enhancement

#545 Add Datamuse API to search filters service
  backend/services/product.js
Labels: backend, bugfix

#546 New notification type: Product Amount
  backend/services/orderMessage.js
  backend/services/product.js
  backend/services/purchase.js
  backend/services/ticket.js
  backend/util/constants.js
  backend/util/notification.js
  backend/util/productTracker.js
Labels: backend, enhancement

#550 Fixed categories not showing at add new main product form
  web/carousel/src/components/Account/VendorAddProduct/MainProductForm/MainProductForm.js
Labels: bugfix, enhancement, web

#551 Guest cart amount change and product form tag delete
  web/carousel/src/components/Account/VendorAddProduct/MainProductForm/MainProductForm.js
  web/carousel/src/components/Account/VendorAddProduct/ProductForm/ProductForm.js
  web/carousel/src/screens/Account/Cart.js
Labels: bugfix, web

#558 Add category filtering feature for searchFilters endpoint
  backend/controllers/product.js
  backend/dataAccess/product.js
Labels: backend, bugfix

#557 Android bugfix addtocart
  Android/app/src/main/java/com/example/carousel/CartAdapter.kt
  Android/app/src/main/java/com/example/carousel/CartFragment.kt
  Android/app/src/main/java/com/example/carousel/Product.kt
  Android/app/src/main/java/com/example/carousel/ProductPageActivity.kt
  Android/app/src/main/java/com/example/carousel/ProductsAdapter.kt
  Android/app/src/main/java/com/example/carousel/vendor/VendorOrderActivity.kt
  Android/app/src/main/java/com/example/carousel/vendor/VendorProduct.kt
Labels: android, bugfix

#571 Fixed alert message shown before confirm deletion
  web/carousel/src/components/Account/VendorProducts/VendorProducts.js
  web/carousel/src/components/Admin/ProductRequests/ProductRequests.js
Labels: Priority: Medium, bugfix, web

#574 Fixed product form showing tags of other products
  web/carousel/src/components/Header/Header.module.css
  web/carousel/src/screens/VendorAccount/AddProduct.js
Labels: bugfix, web

#580 Fixed product title overlapping other information
  web/carousel/src/components/Product/Product.module.css
  web/carousel/src/components/Product/ProductHeader/ProductHeader.js
Labels: Priority: Medium, bugfix, web

#576 Make Add to cart button only adds once
  Android/app/src/main/java/com/example/carousel/ProductsAdapter.kt
Labels: android, bugfix

#578 Fixed cart not resetting after purchase
  Android/app/src/main/java/com/example/carousel/CartFragment.kt
  Android/app/src/main/java/com/example/carousel/OrderFragment.kt
  Android/app/src/main/java/com/example/carousel/map/ApiInterface.kt
Labels: android, bugfix

#572 Android test and comment search
  Android/app/build.gradle
  Android/app/src/androidTest/java/com/example/carousel/SearchFragmentTest.kt
  Android/app/src/main/AndroidManifest.xml
  Android/app/src/main/java/com/example/carousel/SearchFragment.kt
  Android/app/src/main/java/com/example/carousel/TestActivity.kt
  Android/app/src/main/res/layout/activity_test.xml
  Android/app/src/main/res/layout/fragment_search.xml
Labels: android, test

#585 Fixed incorrect mainproduct issue.
  backend/dataAccess/customer.js
  backend/services/list.js
Labels: backend, bug

#584 Backend test/all tests
  .gitignore
  backend/package.json
  backend/test/client.js
  backend/test/crudFactory.js
  backend/test/customer.js
  backend/test/product.js
  backend/test/testDatabaseReset.js
  backend/test/vendor.js
  backend/tests/unit/changePassword.spec.js
  backend/tests/unit/login.spec.js
  backend/tests/unit/signup.spec.js
Labels: backend, test

#582 Updated deprecated database access routines
  backend/dataAccess/customer.js
  backend/dataAccess/product.js
  backend/documentation/components/schemas/_index.yaml
  backend/documentation/components/schemas/order.yaml
  backend/documentation/components/schemas/shoppingCart.yaml
  backend/documentation/paths/_index.yaml
  backend/documentation/paths/customer.yaml
  backend/documentation/swagger.yaml
  backend/services/purchase.js
Labels: Priority: Medium, backend, bugfix

#575 Add sales agreement before purchase
  Android/app/src/main/AndroidManifest.xml
  Android/app/src/main/java/com/example/carousel/OrderFragment.kt
  Android/app/src/main/java/com/example/carousel/SalesAgreementActivity.kt
  Android/app/src/main/res/layout/activity_sales_agreement.xml
  Android/app/src/main/res/layout/fragment_order.xml
Labels: android, enhancement

#581 Added web user manual
  deliverables/Web_User_Manual.pdf
Labels: Priority: Fatal, deployment, documentation, everyone, web

#589 Added test suites for necessary services
  backend/package.json
  backend/test/comment.js
  backend/test/list.js
  backend/test/testDatabaseReset.js
Labels: backend, enhancement, test

#587 Backend feature/update order related documentation
  backend/controllers/shoppingCart.js
  backend/documentation/components/responses/_index.yaml
  backend/documentation/components/responses/order.yaml
  backend/documentation/components/responses/shoppingCart.yaml
  backend/documentation/components/schemas/_index.yaml
  backend/documentation/components/schemas/order.yaml
  backend/documentation/components/schemas/shoppingCart.yaml
  backend/documentation/paths/_index.yaml
  backend/documentation/paths/order.yaml
  backend/documentation/paths/shoppingCart.yaml
  backend/documentation/paths/vendor.yaml
  backend/documentation/swagger.yaml
  backend/services/order.js
  backend/services/purchase.js
  backend/services/shoppingCart.js
Labels: backend, documentation

#590 Add necessary comments for some functions
  .gitignore
  backend/controllers/vendor.js
  backend/dataAccess/product.js
  backend/services/product.js
Labels: backend, documentation

#592 Added README.md and changed a package.json specification.
  backend/README.md
  backend/package.json
Labels: backend, documentation

#593 Changed several fields of activity model to correspond the definition…
  backend/models/activity.js
Labels: backend, bug

#595 Added Docker and local running instructions for web application.
  web/carousel/README.md
Labels: documentation, web

#588 Android category
  Android/app/src/main/java/com/example/carousel/CategoriesAdapter.kt
  Android/app/src/main/java/com/example/carousel/CategoriesFragment.kt
  Android/app/src/main/java/com/example/carousel/SearchFragment.kt
  Android/app/src/main/res/layout/fragment_categories.xml
Labels: android, enhancement

#598 Fix backend dev-hosts file
  .github/backend-deployment/dev-hosts
Labels: bugfix
